<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AuditFrameworkEntities" connectionString="metadata=res://*/AuditFrameworkEntityDataModel.csdl|res://*/AuditFrameworkEntityDataModel.ssdl|res://*/AuditFrameworkEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RC-FS-DEVVS06\SSD2008;initial catalog=HNFS_TPAPS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>