<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CodeCharm.Windows.AuditFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CodeCharm.Model.AuditFramework.Properties.Settings.AuditingDatabaseConnectionString" connectionString="Data Source=RC-FS-DEVVS06\SSD2008;Initial Catalog=MtfCapability;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <CodeCharm.Windows.AuditFramework.Properties.Settings>
            <setting name="AuditingSchema" serializeAs="String">
                <value>db_audit</value>
            </setting>
            <setting name="AuditTableFormat" serializeAs="String">
                <value>{AuditedSchema}º{TableName}</value>
            </setting>
            <setting name="AlwaysRecreateAuditingSupport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuditingFilegroup" serializeAs="String">
                <value>AUDIT</value>
            </setting>
            <setting name="RemoveAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackByPrimaryKeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SchemasToAudit" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dbo</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TablesNotAudited" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AuditTrail</string>
                        <string>dtproperties</string>
                        <string>__RefactorLog</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ColumnsNotStoredInAudit" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SystemUser</string>
                        <string>AuthorityName</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExecuteGrantees" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ProcExec</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AuditingDatabaseConnectionString" serializeAs="String">
                <value>Data Source=;Initial Catalog=;Integrated Security=True</value>
            </setting>
            <setting name="AutoDeployToDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>%LOCALAPPDATA%\AuditLogs</value>
            </setting>
            <setting name="GenerateBaseline" serializeAs="String">
                <value>False</value>
            </setting>
        </CodeCharm.Windows.AuditFramework.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
